vendor/
ndau.xlsx
ndau.csv
spreadsheets/

# executable, but not source
check_conf
!*/check_conf
check_extract
!*/check_extract
etl
!*/etl
update_genesis_json
!*/update_genesis_json
chaos.generate
!*/chaos.generate

**/.DS_Store
.vscode/

**/debug
