vendor/
ndau.xlsx
ndau.csv
spreadsheets/

# executable, but not source
check_conf
!*/check_conf
check_extract
!*/check_extract
etl
!*/etl
update_genesis_json
!*/update_genesis_json

# temp files created by following steps in READMEs
**/*-genesis.json

**/.DS_Store
.vscode/
*~
.#*

**/debug

localnet-genesis/
localnet-genesis/etl
mainnet-genesis/transactions/yubihsm
mainnet-genesis/transactions/*.sb
mainnet-genesis/transactions-archive
